$tile-size: 20px;
$primary-color: rgb(42, 42, 42);
$secondary-color: rgb(19, 19, 19);
$active-color: rgb(224, 210, 21);

.tile {
  width: $tile-size;
  height: $tile-size;

  border-top: none;
  border-left: none;
  box-sizing: border-box;
  width: $tile-size;
  height: $tile-size;
  float: left;

  &-inactive {
    background-color: $primary-color;
  }
  &-active {
    background-color: $active-color;
  }
}

.row {
  display: flex;
  flex-flow: row;

  border-right: none;
  border-bottom: none;
  overflow: hidden;
}

.tile,
.row {
  border: 1px solid $secondary-color;
}

body {
  margin: 0;
  padding: 0;
  background-color: $secondary-color;
}

p {
  margin-top: 8px;
  margin-left: 20px;
  margin-right: 20px;
  color: $active-color;
  font-size: 14px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
